body {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration:none;
}
p {
	text-indent:50px;	
}
.sidebar {
  height:110%;
  width:160px;
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  background-color:black;
  overflow-x:hidden;
  padding-top:60px;
}
.sidebar a {
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block; 
  z-index:-1;
  width:160px;body {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration:none;
}
.sidebar {
  height:110%;
  width:160px;
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  background-color:black;
  overflow-x:hidden;
  padding-top:60px;
}
.sidebar a {
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block; 
  z-index:-1;
  width:160px;
  
}

  
}
/*.sidebar a:hover {
  width:160px;
  background-color:white;
}*/
a.cat {
  font-size:27px;
  transition:width!important;
  background-color:black!important;
  pointer-events:none;
  margin-left:15px!important;
}
li.whbar {
  z-index:-1;
  width:5px;
  background-color:grey;
  transition:width 1s;
}
li.whbar:hover {
	width:160px;
	background-color:lightgrey;
}
.main {
  margin-top:60px;
  margin-left:160px;
  font-size:28px;
  padding:0px 10px;
}
ul.none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topbar {
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  overflow-y:hidden;
  padding-top:18px;
  background-color:black;
  text-align:right;
  height:0px;
  transition:height 0.75s;
}
.topbar:hover {
  height:30px;
}
.topbar a {
  position:relative;
  line-height:10px; 
  margin-right:20px;
  margin-bottom:30px;
  padding:15px 17px 15px 17px;
  color: #818181;
  background-color:gray;
  color:lightgray;
  font-size:18px;
}
.topbar a:hover {
  background-color:lightgrey;
  color:#818181;
}
.topsmall {
	font-size:15;
	color:#818181;
	text-align:center;
	margin-right:100px;
	line-height:10px;
}
